@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-title-alternate {
    @apply bg-grey font-['Fraunces'] text-[9.375rem] font-black lowercase leading-[4.5rem] tracking-normal text-grey;
  }

  .font-h1 {
    @apply font-['Fraunces'] text-[4.5rem] font-black leading-[4.5rem] tracking-normal;
  }

  .font-h2 {
    @apply font-['Fraunces'] text-[2.5rem] font-black leading-[3rem] tracking-normal;
  }

  .font-h3 {
    @apply font-['Fraunces'] text-[2rem] font-black leading-[2.25rem] tracking-normal;
  }

  .font-h4 {
    @apply font-['Fraunces'] text-2xl font-black tracking-normal;
  }

  .font-body {
    @apply font-['Barlow'] text-[1rem] font-normal leading-[1.625rem];
  }

  .font-mobile-nav {
    @apply font-['Fraunces'] text-2xl font-black tracking-normal;
  }

  .font-nav {
    @apply font-['Barlow'] text-[0.75rem] font-bold leading-[0.938rem] tracking-[1px];
  }

  .font-footer {
    @apply font-['Barlow'] text-[0.75rem] font-bold uppercase leading-[0.938rem] tracking-[0.92px] text-grey;
  }

  .btn {
    @apply flex h-[3.5rem] w-[13.563rem] cursor-pointer items-center justify-center rounded-[0.375rem] bg-dark-cyan font-['Fraunces'] text-[1.125rem] leading-[1.563rem] tracking-normal text-light-cream;
  }
  .btn:hover,
  .btn:active {
    @apply bg-[#66D2CF];
  }

  .btn:disabled {
    @apply bg-[#E2DEDB];
  }

  .whychoose-bg {
    background: url('/assets/home/mobile/image-whychooseus-bg.png') no-repeat
      top center;
    background-size: cover;
  }

  #home header {
    background: url('/assets/home/mobile/image-hero-coffeepress.jpg') no-repeat
      top center;
    background-size: cover;
  }

  #about header {
    background: url('/assets/about/mobile/image-hero-whitecup.jpg') no-repeat
      top center;
    background-size: cover;
  }

  #plan header {
    background: url('/assets/plan/mobile/image-hero-blackcup.jpg') no-repeat top
      center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    #home header {
      background: url('/assets/home/tablet/image-hero-coffeepress.jpg')
        no-repeat top center;
      background-size: cover;
    }
    .whychoose-bg {
      background-image: none;
    }
  }
}

@layer utilities {
  .gradient-text {
    background-image: linear-gradient(
      to bottom,
      rgba(254, 252, 247, 0.0001),
      rgba(254, 252, 247, 1)
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .options {
    @apply pointer-events-none flex max-h-0 flex-col items-center gap-4 overflow-hidden pt-0 opacity-0 transition-[max-height,_padding,_opacity] duration-[0.3s,_0.3s,_0.3s] ease-out;
  }

  .options.options-show {
    @apply pointer-events-auto h-auto max-h-[9999px] pt-8 opacity-100 transition-[max-height,_padding,_opacity] duration-[2s,_0.3s,_0.3s] ease-in;
  }

  .options.options-hide {
    @apply pointer-events-none hidden;
  }

  .option-selected {
    @apply bg-dark-cyan text-white hover:bg-dark-cyan;
  }

  .option-not-selected {
    @apply text-dark-grey-blue hover:bg-pale-orange;
  }

  .inactive-button {
    @apply pointer-events-none scale-0 opacity-0;
  }
  .inactive-nav {
    @apply pointer-events-none opacity-0;
  }
}
